<section class="card mb-5">
  <div class="card-body">
    <h1><i class="fa-solid fa-users"></i> ¿Quiénes Somos?</h1>
    <hr class="my-1" />
    <p>
      Somos una pequeña Start-Up fundada en 2022 por un emprendedor argentino, <em>Juan Ignacio Ronquillo (20 Años, Buenos Aires)</em>, quien llevó a cabo el Desarrollo Web, tanto Front-end como Back-end, y su equipo de trabajo, encargado del Marketing y el Diseño.
    </p>

    <p>
      Notes Handler surgió a causa de que notamos que mucha gente se veía abrumada con tanta información, al punto de terminar olvidándose de cosas importantes, o frustrándose por no poder organizarse, este fue nuestro principal motivo, la organización.
    </p>

    <p>
      Creemos que la organización es lo más importante en la vida de una persona, ya que todo surge de ahí, empezar un nuevo día, una nueva semana, un emprendimiento, o hasta unas vacaciones, necesitan de organización, para poder tener tranquilidad.
    </p>
  </div>
</section>

<section class="card">
  <div class="card-body">
    <h1><i class="fa-solid fa-magnifying-glass"></i> Misión y Visión</h1>
    <hr class="mt-1 mb-3" />
    <h3>Misión</h3>
    <p>
      Nuestra misión es mejorar y esforzarnos para brindar el mejor servicio, y que los usuarios se sientan cada vez más satisfechos con nuestra aplicación.
    </p>
    <hr class="mt-1 mb-3" />
    <h3>Visión</h3>
    <p>
      Nuestra visión es llegar a estar en 2024 dentro de las 5 aplicaciones más descargadas y utilizadas de América Latina dentro de las categorías de "Trabajo, Productividad y Desarrollo Personal".
    </p>
  </div>
</section>

<h2 class="text-center text-light my-4">Conócenos</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/img/me.png" class="card-img-top p-2">
      <div class="card-body">
        <h5 class="card-title">Juan Ignacio Ronquillo</h5>
        <p>CEO, Desarrollador Web FullStack</p>
        <a href="https://www.linkedin.com/in/juanignacioronquillo/" class="active text-decoration-none d-block"><i class="fa-brands fa-linkedin pe-1"></i>Linkedin</a>
        <a href="https://github.com/RonkiETH" class="active text-decoration-none"><i class="fa-brands fa-square-github pe-1"></i>GitHub</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/me.png" class="card-img-top p-2">
      <div class="card-body">
        <h5 class="card-title">John Doe</h5>
        <p>Diseñador UX/UI</p>
        <a href="" class="active text-decoration-none"><i class="fa-brands fa-linkedin pe-1"></i>Linkedin</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/me.png" class="card-img-top p-2">
      <div class="card-body">
        <h5 class="card-title">Patrick Park</h5>
        <p>Marketing y Publicidad</p>
        <a href="" class="active text-decoration-none"><i class="fa-brands fa-linkedin pe-1"></i>Linkedin</a>
      </div>
    </div>
  </div>
</div>