<h1 class="text-light text-center mb-5">Toda la información en un solo lugar</h1>
<div id="carouselExampleCaptions" class="carousel slide w-100 m-auto my-5" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      <img src="/img/Slider-2.jpg" class="w-75 m-auto">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-light fw-semibold">Planes con amigos</h5>
        <p class="fw-semibold">Organiza eventos, salidad y vacaciones con amigos.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/Slider-1.jpg" class="w-75 m-auto">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-light fw-semibold">Proyectos personales</h5>
        <p class="fw-semibold">Lleva un control de tus ideas y avances para desarrollar tu emprendimiento.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/Slider-3.jpg" class="w-75 m-auto">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-light">Reuniones de trabajo</h5>
        <p class="fw-semibold">Toma nota de todos los datos importantes hablados en la reunión.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="card card-body p-5">
  <h1 class="display-6">Todas tus notas, en una sola aplicación</h1>
  <p class="lead">Una aplicación simple para manejar tus notas, desarrollada con Handlebars, Node.js, Express, MongoDB y Javascript.</p>
  <hr class="my-1" />
  <h3>Manual de Instrucciones</h3>
  <ol>
    <li>
      <a href="/auth/signup" class="text-decoration-none">Registrarte.</a>
    </li>
    <li>
      <a href="/auth/signin" class="text-decoration-none">Iniciar sesión.</a>
    </li>
    <li>¡Listo! Ya puedes empezar a utilizar Notes Handler.</li>
  </ol>
  <hr class="my-1" />
  <h3>¿Por qué usar Notes Handler?</h3>
  <ol>
    <li>Excelente organización, todo lo que consideres importante puedes anotarlo, y evitas la posibilidad y el estrés de olvidarlo.</li>
    <li>A diferencia de anotar en papel, que puedes perderlo, aquí tienes toda tu información a un solo click, para visualizarla, editarla o eliminarla cuando quieras.</li>
    <li>El cerebro humano está hecho para pensar y crear, si puedes quitar esta información de tu cabeza, tienes más espacio para seguir creando.</li>
  </ol>
</div>

<div class="accordion m-auto" id="accordionExample">
    <h2 class="text-center mt-5 text-light" id="faq">Preguntas Frecuentes</h2>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="truee" aria-controls="collapseOne">
          ¿Notes Handler es una App para teléfonos celulares?
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Sí, aunque aún se encuentra en desarrollo, estará disponible en 2023 en Play Store y App Store.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Hay algún costo de utilizar esta aplicación?
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              No, no hay ningún costo, ni va a haberlo en un futuro, Notes Handler es gratuito.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Si Notes Handler es gratis, ¿Cómo ganan dinero?
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Actualmente ganamos dinero por publicidades, y próximamente, por cantidad de descargas de la aplicación.
            </div>
        </div>
    </div>
</div>