<footer class="w-100 bg-black text-light bg-opacity-50 container-fluid mt-auto">
        <div class="container-fluid text-light">
            <div class="row p-5 pb-2">
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h3 text-light">
                        Notes Handler
                    </p>
                    <p>Buenos Aires, Argentina.</p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h5 text-light">Sobre Nosotros</p>
                    <div class="about-us">
                        <a 
                        href="/about" 
                        target="_blank" 
                        class="nav-link">
                            ¿Quiénes somos?
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h5 text-light">Redes Sociales</p>
                    <div class="instagram">
                        <a 
                        href="https://www.instagram.com/ronki.js" 
                        target="_blank" 
                        class="nav-link">
                            <i class="fa-brands fa-instagram pe-1"></i>Instagram
                        </a>
                    </div>
                    <div class="facebook">
                        <a 
                        href="https://www.facebook.com/nacho.ronquillo.1/" 
                        target="_blank" 
                        class="nav-link">
                            <i class="fa-brands fa-facebook pe-1"></i>Facebook
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h5 text-light">Contacto</p>
                    <div class="phone">
                        <a href="https://api.whatsapp.com/send/?phone=5491167507094&text=Hola,%20te%20quiero%20hacer%20una%20consulta:"
                        target="_blank" 
                        class="nav-link">
                        <i class="fa-solid fa-phone pe-1"></i>11-6750-7094
                        </a>
                    </div>
                    <div class="email">
                        <a href="mailto:ronquillojuanignacio@gmail.com" 
                        target="_blank" 
                        class="nav-link">
                            <i class="fa-solid fa-envelope pe-1"></i>contacto@noteshandler.com
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 pt-5">
                    <p class="text-center">&copy; Todos los derechos reservados 2022</p>
                </div>
            </div>
        </div>
    </footer>